* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dices {
  /* margin-left: -6vw; */
  height: 10vh;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 40px;
  margin-top: 7vh;
}

.dice:hover {
  box-shadow: 10px 10px 20px 0px rgba(240, 255, 35, 0.902);
  border-radius: 50%;
}
