@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Jaro:opsz@6..72&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sedgwick+Ave+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../src/assets/mockaroon-YqUeLG7fMr4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 1.6em;
  font-family: "Sedgwick Ave Display", serif;
}
.dices {
  background-color: #fff;
  min-height: 10vh;
  width: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid black;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 40px;
  margin-top: 1vh;
}
.roll {
  margin-top: 2vh;
  width: 7vw;
  font-size: 2em;
  font-family: "Permanent Marker", serif;
  border-bottom: 2px solid black;
  text-shadow: 1px 1px 1px #fada3c, -1px -1px 1px #358ee1;
}
.roll:hover {
  box-shadow: 10px 5px 5px rgba(255, 174, 23, 0.785);
  cursor: pointer;
}

.allDices {
  padding: 20px;
  height: auto;
  width: 60vw;
  max-width: 60vw;
  background-color: #e6e6e6;
  background-image: linear-gradient(to right, #b9b9b9 0%, #e4e2e2 100%);
  border: 4px solid black;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 1vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.inGame {
  display: flex;
  margin-bottom: 2vh;
  flex-wrap: wrap;
}

.diceRolled {
  color: #04800f;
  box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  height: 70px;
  width: 70px;
  border: 5px solid rgb(29, 157, 0);
  margin-left: 0.4vw;
  display: flex;
  margin-top: 1vh;
  justify-content: center;
  align-items: center;
  font-size: 2.2em;
  border-radius: 12px;
}

.diceRolled:hover {
  background-color: #daec55;
}
.params {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}
.quantity {
  padding: 10px;
  font-size: 1.5em;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 4px solid black;
  font-family: "Permanent Marker", serif;
}

.removedDices {
  padding: 20px;
  color: rgb(255, 255, 255);
  margin-top: 2vh;
  border: 4px solid black;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  height: auto;
  width: 60vw;
  max-width: 60vw;
  background-image: linear-gradient(to left, #9b9b9b 0%, #e4e2e2 100%);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.info {
  color: #363636;
  font-size: 1.7em;
  font-family: "Sedgwick Ave Display", serif;
  margin-top: 1vh;
  text-decoration: underline;
}

.diceRemoved {
  background-color: #ffffff;
  height: 70px;
  width: 70px;
  border-radius: 12px;
  border: 5px solid rgb(202, 7, 7);
  margin-left: 0.4vw;
  display: flex;
  justify-content: center;
  box-shadow: 6px 5px 5px rgba(0, 0, 0, 0.5);
  align-items: center;
  font-size: 2em;
  color: rgb(236, 19, 19);
  margin-top: 1vh;
}

.btn {
  border: 3px solid rgb(36, 36, 36);
  margin-left: 3px;
  font-size: 1.6em;
  padding: 10px;
  font-family: "Permanent Marker", serif;
}
.btn:hover {
  background-color: #2bf9c2;
}

.roll {
  margin-bottom: 2vh;
  font-size: 1.5em;
}
.added {
  border: 5px solid rgb(33, 85, 239);
  color: #334bc5;
}

.statistics {
  width: 53vw;
  margin-top: 1.5vh;
  display: flex;
  justify-content: space-around;
}

.dices-count {
  font-family: "Sedgwick Ave Display", serif;
  font-size: 1.4em;
  display: flex;
  border-top: 1px solid rgb(0, 0, 0);
  box-shadow: 0px -8px 5px -5px rgba(255, 220, 25, 0.952);
}

.count-btn {
  background-color: #f359e1;
}

.btn-add {
  background-color: #33e08d;
}
.btn-reroll {
  background-color: #fdf623;
}

/* .color {
  border: 4px solid rgb(190, 92, 239);
} */

.count {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 1.7em;
  font-family: "Jaro", serif;
  border-radius: 10px;
  margin-top: 1vh;
  box-shadow: 6px 5px 5px #face3bc7;
}

.footer {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 1.6em;
  margin-top: 4vh;
  border-top: 3px solid black;
}
