* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dices {
  /* margin-left: -6vw; */
  min-height: 10vh;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  padding: 40px;
  margin-top: 7vh;
}

.dice {
  height: 68px;
  width: 68px;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.dice:hover {
  box-shadow: 10px 10px 20px 0px rgba(240, 255, 35, 0.902);
  border-radius: 50%;
}
.allDices {
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
}

.diceRolled {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  margin-left: 0.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.diceRolled:hover {
  background-color: #ffba60;
}
.params {
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
}
.quantity {
  padding: 10px;
}
